[submodule "rwa/projects/projekt_1"]
	path = rwa/projects/projekt_1
	url = https://github.com/mapokapo/rwa-zadaca
[submodule "ramu/projects/ramu-math-app"]
	path = ramu/projects/ramu-math-app
	url = git@github.com:mapokapo/ramu-math-app.git
[submodule "ramu/projects/ramu-fitquest-app"]
	path = ramu/projects/ramu-fitquest-app
	url = git@github.com:mapokapo/ramu-fitquest-app.git
[submodule "ui/homework"]
	path = ui/homework
	url = https://github.com/mapokapo/ui-zadaca
[submodule "drs/projects/drs-p2-project"]
	path = drs/projects/drs-p2-project
	url = git@github.com:/mapokapo/drs-p2-project.git
